/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++
    Author: AureleZannou
+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/
//@import 'compass';
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap composer require twbs/bootstrap-sass
//@import "../../../vendor/twbs/bootstrap-sass/assets/stylesheets/bootstrap";

// Materialize
//@import "https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css";

// inkauz
/* Apply a natural box layout model to all elements - http://paulirish.com/2012/box-sizing-border-box-ftw/ */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

//---------Mixin-------------------
@mixin center(){
    display: block;
    margin-left: auto;
    margin-right: auto;
}
@mixin size($width, $height: $width){
    width: $width;
    height: $height;
}
@mixin libefore($content){
    font-family: 'FontAwesome';
    speak: none;
    vertical-align: middle;
    content: $content; //ex: \f138
}
/// Mixin to prefix a property
@mixin prefix($property, $value, $prefixes: ()) {
    @each $prefix in $prefixes {
        #{'-' + $prefix + '-' + $property}: $value;
    }

    // Output standard non-prefixed declaration
    #{$property}: $value;
}
/// custom prefixerz
@mixin prefixerz($property, $value) {
    #{'-webkit-' + $property}: $value;
    #{'-moz-' + $property}: $value;
    #{'-o-' + $property}: $value;
    #{$property}: $value;
}
//--------Structure---------
.deskOnly{display: block;}
.mobOnly{display: none;}

//--------WEBKIT SCROLLBAR---------
::-webkit-scrollbar {
    width: 8px;
}
 
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
    //border-radius: 10px;
}
 
::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
}

//---------------------------------
body{
    //font-family: $para-font;
    color: $para-color;
    background: $lgrey-color;
    font-size: 15px;
}
h1, h2, h3, h4, h6, small{
    //font-family: $main-font;
	color: $main-color;
	font-weight: 300;
}
p{margin-bottom:10px;}
blockquote{
    border-left: 5px solid lighten($para-color, 60%);
    padding-left: 20px;
    margin-bottom: 20px;
    font-style: italic;
}

/* ==========================================================================
   Basic page styles
   ========================================================================== */
.trans *,
.trans2{
    @include prefixerz(transition, all 0.15s ease-out);
}
.translent *,
.translent2{
    @include prefix(transition, all 0.25s ease-out, webkit moz ms);
}
.easeOutQuad,
.easeOutQuadAll *{
    @include prefix(transition, 400ms cubic-bezier(0.250, 0.460, 0.450, 0.940), webkit moz ms);
}
.clear{
    clear: both;
    height: 0;
    overflow: hidden;
}
.be_relative{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    display: block;
}
.be_absolute{
    width: 100%;
    height: 100%;
    position: absolute;
    overflow: hidden;
    display: block;
    top: 0;
    left: 0;
}
.site_w{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.mainpad{
    padding: 0 10px;
}
.m_succes{
    margin-top: 20px;
    color: #139B13;
}
.m_fail{
    margin-top: 20px;
    color: #ff4950;
}
h1{
	font-size: 22px;
	margin: 10px 0;
}
h2{
	font-size: 20px;
    color: $main-color;
}
h3{
    font-size: 18px;
}
h4{

}
a{color: $main-color;}
//--------easeshow--------
.easeshow{
    margin-top: 20px;
    opacity: 0;
    visibility: hidden;
}

//----------------digi_navbar-----------------
//-------------------------------------------
.digi_navbar{
	height: 60px;
    nav.app_nav{
        line-height:55px;
        height: 56px;
        *{height: auto;}
        background: #fff; //#f8f8f8;
        box-shadow: 0 1px 1px rgba(0,0,0,.1);
        margin-bottom: 5px;
        border: 1px solid transparent;
        width: 100%;
        a.brand-logo{
            width: 140px;
            line-height: 0;
            padding: 5px 0 0 10px;
            img{
                width: 100%;
            }
        }
        ul a{
            color: $para-color;
            &:hover{
                background: transparent;
                color: #333;
            }
        }
    }
}

//------------------digi_sidebar-----------------------
//------------------------------------------------------
.digi_sidebar{
    background: $dgrey-color;
    width: 245px;
    height: 100vh;
    float: left;
    position: fixed;
    .lside{
        width: 35px;
        background: darken($dgrey-color, 4%);
        height: 100vh;
        text-align: center;
        padding-top: 8px;
    	float: left;
        .dropdown-button{ color: lighten($main-color, 10%);}
    }
    .digimenu{
        height: 100vh;
    	width: calc(100% - 35px);
    	float: left;

    	//--------------
    	.cuinfos{
    		margin-top: 5px;
    		color: #d6d6d6;
    		.fa-circle{
    			color: #00c853;
    		}
    	}

    	//-----------
    	.digioptions{
    		ul{
    			li{
    				a{
    					color: #808da0;
    					padding: 8px 5px 8px 10px;
    					display: block;
    					font-size: 16px;
    					&:hover{
                            color: lighten(#808da0, 20%);
                            background: lighten($dgrey-color, 3%);
                        }
    				}
    			}
                .active{
                    background: lighten($dgrey-color, 6%)!important;
                    border-left: 4px solid #f57f17;
                    color: #fff!important;
                }
    		}
    	}
    }
    #dropmenu{
        width: 180px!important;
        top: 35px!important;
        left: 7px!important;
        li{
            min-height: auto;
            a{
                padding: 10px;
                line-height: normal;
                color: $para-color;
            }
        }
    }
}

//------------------footer-----------------------------
//------------------------------------------------------
footer.page-footer{
    padding-top:0;
    margin-top: 60px;
    background-color: #fff;//lighten($main-color, 5%);
    .footer-copyright{background: transparent;}
    border-top: 1px solid #eee;
    *{color: $para-color!important;}
    .grey-text.text-lighten-4{color: $para-color!important;}
}

//------------------maincontainer------------------------------------------------------------------
//--------------------------------------------------------------------------------------------------
.imgfullbkg{
	background-size: cover;
	background-position: center center;
}
.dropdown-content li>a, .dropdown-content li>span{padding: 14px 10px;}
main.maincontainer{
    .digi_full_wrap{
        padding-top: 3%;
        min-height: calc(100vh - 155px);
    }

    .digi_with_side{
        .app_right{
            width: calc(100% - 245px);
            float: right;
            .bigcontainer{
                min-height: 100vh;
            }
            .digi_navbar{
                nav{
                    width: calc(100% - 245px);
                }
            }
        }
    }

    //---
    .select-wrapper{
        li{
            min-height: 20px;
            line-height: 20px;
            span{line-height: 10px;}
        }
    }

    //----transition
	.fade-enter-active{
		transition: opacity .4s;
	}
	.fade-leave-active {
		transition: opacity 0s;
	}
	.fade-enter{
		opacity: 0;
	}
	.fade-enter-to{
		opacity: 1;
	}
	.fade-leave, .fade-leave-to{
		opacity: 0;
	}

    //---------
    .digi_collection{
        ul{
            border: 1px solid #e0e0e0;
            border-radius: 4px;
        }
        li{
            list-style: none;
            border-bottom: 1px solid #e0e0e0;
            border-radius: 4px;
            background-color: #fff;
            overflow: hidden;
            a{
                color: $para-color;
                transition: .25s;
                height: 42px;
                padding: 10px 10px 10px 20px;
                margin: 0;
                display: block;
                &:hover{
                    background: #fff;
                    padding-left: 25px;
                    border-left: 3px solid;
                }
            }
            &:last-child{border-bottom: none;}
        }
    }

    //---
    .delelemform{
        float: right;
        form{
            @extend .trans;
            float: right;
            .sub{
                float: right;
                padding: 2px 10px;
                border: 1px solid #ec4d4d;
                background:#ec4d4d;
                color: #fff;
                margin: 0px 0 0 5px;
                border-radius: 2px;
                font-size: 14px;
                &:hover{background: transparent; color:#ec4d4d;}
            } 
        }
    }

    .delelemicon{
        .fa{color:#ec4d4d!important;}
    }

    //----
    .enfants{
        .enfant{
            border-bottom: 1px solid #d8d8d8;
            padding: 10px;
            display: block;
            &:last-child{border: none;}
            .circle{
                float: left;
                border: 1px solid #eee;
            }
            .infos{
                float: left;
                padding-left: 10px;
                padding-top: 5px;
                p{margin:0;}
            }
            &:hover{
                background:#fff;
                padding-left: 15px;
            }
        }
    }

    //------------------digilogin-----------------------
    //--------------------------------------------------      
    .digilogin{
        max-width: 640px;
        padding: 30px;
        background: #fff;
        border-radius: 5px;
        border-bottom: 2px solid #ccc;
        h1{
            margin: 0 0 10px 0;
        }
    }
    .centeriz{
    	text-align: center;
    	max-width: 520px;
    	margin: 0 auto;
    	img{max-width: 300px;}
    }
	.logerrormsg{
		padding: 10px!important;
		margin-bottom: 15px;
	}

    .registerform{
        padding: 30px 20px;
        .row{
            margin-bottom: 10px;
        }
    }

    h1{span{font-size: 20px;}}


    .collapsible-body{padding: 15px;}
    .collapsible-header{color: $main-color;}

    .viewWrap{
        .focused{
            width: calc(100% - 405px);
            float: left;
            padding-right: 10px;
        }
    	.searchfield{
    		margin: 20px 0 5px 0;
    		max-width: 550px;
    		width: calc(100% - 15px);
    	}
        .rightfix{
            width: 400px;
            position: fixed;
            right: 0;
            max-height: calc(100vh - 60px);
            overflow-y: auto;
            overflow-x: hidden;
            padding: 0px 0 80px 0;
            border-left: 1px solid #d6d6d6;
            background: #f5f8fa;

            h2{
                padding: 15px 0 0px 0;
                margin:0 0 5px 10px;
            }

            .addforms{
                //border-left: 1px solid #d6d6d6;
                input:not([type]), input[type=text], input[type=password], input[type=email], input[type=url], input[type=time], input[type=date], input[type=datetime], input[type=datetime-local], input[type=tel], input[type=number], input[type=search], textarea.materialize-textarea{
                    //margin: 0;
                }
                .row{
                    margin-bottom: 2px;
                    .col{
                        //padding: 0 2px;
                    }
                }
                .m_fail{font-style: 14px;}
                //.switch label input[type=checkbox]:checked+.lever:after{background: #00c853;}
            }
        }

        .sess_msg{
            color: #23ad5c;
            background: #fff;
            font-size: 16px;
            padding: 2px 10px 2px 5px;
            border-radius: 2px;
            border: 1px solid #eee;
            font-family: $para-font;
            cursor: pointer;
            .btn-floating{background: #00c853;}
        }
    }
    //------------------admin_eleves--------------------
    //-------------------------------------------------- 
    .admin_eleves{
    	min-height: 600px;
    	.focused{
			.ucards{
				min-height: calc(100vh - 160px);
				.card{
					width: 209px;
					float: left;
					text-align: left;
					margin: 5px 10px 5px 0;
					.card-image{
						height: 160px;
                        z-index: 0;
						&:hover{opacity: .8;}
					}
					.card-title{
						font-size: 16px;
					}
					.card-content{
						padding: 10px;
					}
					.card-reveal{background: rgba(#fff, .99); padding:10px;}
				}
			}
    	}
    	.rightfix{
    	}
    }

    //------------------admin_eleve--------------------
    //-------------------------------------------------- 
    .admin_eleve{
        h1{margin-bottom: 20px; span{font-weight: 400;}}
        li{list-style:none;}
        table.bordered{
            .r{text-align: right; font-weight: normal;}
            tr{
                &:last-child{border: none;}
                td{
                    font-weight: bold;
                    padding: 10px 5px;
                }
            }
        }
        .focused{
            .fiche{
                width: 400px;
            	float: left;
                h2{
                    font-size: 24px;
                    margin: 5px 0;
                }
                p{
                    margin-top: 5px;
                }
                .hd{
                    background: #f7f7f7;
                    padding: 10px 0;
                    border-bottom: 1px solid #ddd;
                    img{display:block;}
                }
                .userinfo{
                    padding: 5px 10px 20px 10px;
                    border-bottom: 1px solid #eee;
                    margin-bottom: 0;
                }
		        .addbuletin{
		            margin: 0;
		            box-shadow: none;
		            border: none;
		            border-top: 2px solid #59e0d3;
		            .collapsible-header{
		                background: #f7f7f7;
		                &:hover{padding-left: 18px;}
		            }
		            .collapsible-body{padding:5px;}

		            .row{margin-bottom: 0;}
		            form{padding-bottom:15px;}
		        }
            }
            .additional{
            	width: calc(100% - 410px);
            	margin-left: 10px;
            	float: left;
                .u_bulletins{
                    .collapsible-body{padding:0px;}
                    .collapsible-header{background:#e5f5ff;}
                    .tabs{
                        background-color: #f7f5f5;
                        .tab{
                            a{
                                padding: 0 5px;
                                color: #ee6e73;
                                font-weight: bold;
                            }
                        } 
                    }
                    .card-content{
                        background: #fff;
                        padding:10px;
                        h2{
                            margin: 5px 0 10px 0;
                            font-weight: 600;
                            color: #8399b9;
                            p{color: #8399b9;}
                        }
                        p{color: #8399b9; margin: 2px 0;}
                        .top{
                            border-bottom: 1px solid #ccc;
                        }
                        .notes{
                            thead th{color: $main-color;}
                            tbody td{
                                font-weight: normal;
                            }
                        }
                    }
                }
            }
        }
    }

    //------------------admin_cours--------------------
    //-------------------------------------------------- 
    .admin_cours{
		.btnAddcours{
			float: right;
		}
		#search{margin-bottom: 0;}
		.cours{
		}
		table{
			margin-top:20px;
			td{padding: 15px;}
		}
    }

    //------------------admin_classe--------------------
    //-------------------------------------------------
    .admin_classe{
    	.focused{
			ul{
				.collapsible-body{
					li{
						.fa{color: #dcdcdc;}
						margin-bottom: 5px;
						&:last-child{margin-bottom:0;}
					}
				}
			}
    	}
    }

    //------------------admin_parents--------------------
    //-------------------------------------------------
    .admin_parents{

    }

    //------------------admin_parent--------------------
    //-------------------------------------------------
    .admin_parent{
        .collapsible-body{padding:0;}
        .bordered{
            tr:last-child{border:none;}
        }
    }

    //------------------admin_prof--------------------
    //-------------------------------------------------
    .admin_prof{
        .profcours{
        }
    }

    //------------------d_profile--------------------
    //-------------------------------------------------
    .d_profile{
        .focused{
            width: 100%;
            max-width: 1000px;
            
            h2{
                font-size: 24px;
                margin: 5px 0;
            }
            p{
                margin-top: 5px;
            }
        }
    }

    //------------------prof_cours--------------------
    //-------------------------------------------------
    .prof_cours{
        .profcours{
            .collapsible-body{
                @extend .trans;
                li{
                    border-bottom: 1px solid #eee;
                    &:last-child{border:none;}
                    a{display:block; padding:6px 0;};
                    &:hover{
                        padding-left: 2px;
                        a i{color: $main-color;}
                    }
                }
            }
        }
    }

    //------------------prof_cour--------------------
    //-------------------------------------------------
    .prof_cour{
        .focused{
            width: 100%;
            .wrapenfents{
                padding:0;
            }
        }
        .elevenotes{
            padding: 15px;
            h2{
                padding-bottom: 9px;
                margin:0 0 5px 0;
                border-bottom: 1px solid #ddd;
            }
            .bloc{
                margin-bottom: 25px;
            }
            .elnotes{
            }
            .addnote{
                .addNoteBox{
                    margin-top: 20px;
                    border: 1px solid #eee;
                    background:#f5f8fa;
                }
            }
        }
    }

    //------------------digi_discussions--------------------
    //-------------------------------------------------
    .digi_discussions{
        .wrapdiscbox{max-width: 1200px; margin:0;}
        .wrapenfents{
            .enfant{
                .infos{
                    padding-top: 8px;
                    padding-left: 5px;
                }
                &:hover{
                    b,span{color: $main-color;}
                }
            } 
            .active{
                background: $main-color;
                b,span{color: #fff!important;}
            }
        }
        .comments{
            .dtitle{
               margin-bottom: 10px;
               font-size: 18px;
               b,span{color: $main-color!important;}
                .infos{
                    float: left;
                    margin: 10px 0 0 0px;
                }
            }
            .comment{
                margin-bottom: 10px;
                .circle{
                    float: left;
                    margin-right: 8px;
                    border-radius: 0;
                    width: 60px!important;
                    height: 60px!important;
                    border: 1px solid #eee;
                }
                .content{
                    float: left;
                    width: calc(100% - 68px);
                    background: #f5f8fa;
                    padding: 10px;
                    border: 1px solid #f1f2f3;
                    h5{
                        font-size: 16px;
                        color: $main-color;
                        font-weight: bold;
                        margin:0;
                        span{font-weight: normal;}
                    }
                    p{
                        margin: 2px 0 0 0;
                    }
                    span.date{
                        color: $main-color;
                        font-size: 14px;
                    }
                }
            }
            .addnote{
                background: #eee;
                padding: 10px 0;
                margin-bottom: 10px;
                textarea{
                    padding-bottom:5px;
                    margin-bottom:5px;
                }
            }
        }
    }
}

.digiUfiche{
    background:#f7f7f7; padding: 10px 0;
    border-bottom: 1px solid #ddd;
    h2{
        font-size: 24px;
        margin: 5px 0;
    }
    p{margin-top: 5px;}
}

table.digitable{
    b,th{color: $main-color;}
    tr{ &:last-child{border:none!important;} }
    td, th{padding:10px 5px!important;}
}
#axios_output{
    cursor:pointer;
    .badge{
        float:left;
        color: #fff;
        background-color: #26a69a;
        border-radius: 2px;
        font-size: 13px;
    }
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (max-width: 1345px) {
    main.maincontainer{
        .viewWrap{
            .focused{
                width: 100%!important;
            }

            .rightfix{
                position: relative;
                height: auto;
                max-height: none;
                background: #fff;
                box-shadow: 1px 1px 2px rgba(#000, .4);
            }
        }
    }
}
//-----------------------------------------------------------------------------
@media only screen and (max-width: $screenTab){
    .deskOnly{display: none;}
    .mobOnly{display: block;}
    .full_w{display:block; width:100%!important; margin-left:0!important; margin-right:0!important; float:none!important; clear:both!important; padding-left:0!important; padding-right:0!important;}
    .full_sw{display:block; width:50%!important;}
}

//-----------------------------------------------------------------------------
@media only screen and (max-width: $screenSmall){
    .full_sw{display:block; width:100%!important; margin-left:0!important; margin-right:0!important; float:none!important; clear:both!important; padding-left:0!important; padding-right:0!important;}
}